
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.banner{
  height:100vh;
  max-height:500px;
  min-height:;
  /*background-image: url('https://i.ibb.co/HNvHSyV/image-header.jpg');*/
  
  background-image:url("https://dl.dropbox.com/s/31hp3l95r9z5o8f/image-header.jpg?dl=0");
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-position: center bottom;
}

.header{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.menu{
  display: flex;
  align-items: center;
}

.menu span{
  margin-right:10px;
  color:white;
}
.contact{
  background-color: white;
  color:black;
  padding: 4px 10px;
  border-radius:15px;
  cursor:pointer;
  transition: all 0.2s ease-out;
}

.contact:hover{
  background-color:antiquewhite;
}

/*header end*/

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 30px;
  font-weight:bold;
  flex-grow: 1;
  text-align: center;
}


.arrow{
  margin-top:60px;
}


.section1{
  height: 350px;
  display:flex;
 
}

.section1 img{
  height: 100%;
  width:100%;
  
}

.left , .right{
  flex:1;
}

.section1 .left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left h2{
  font-size: 30px;
  margin-bottom: 16px;
}

.left p{
  color:#848391;
  line-height:1.8;
 margin-bottom: 8px;
 font-family: Sans-Serif;
}

.left .button{
  display: flex;
  align-items: center;
}

/*.learnmore img{
  width:150px;
}*/

.section1 .text-container{
  width:80%;
}

/*section1 end*/

.section2{
  height:350px;
  display: flex;
}

.section2 img{
  height: 100%;
  width:100%;
  object-fit: cover;
}


.section2 .right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right h2{
  font-size: 30px;
  margin-bottom: 16px;
}

.right p{
  color:#848391;
  line-height:1.8;
 margin-bottom: 8px;
 font-family: Sans-Serif;
}


.right .button{
  display: flex;
  align-items: center;
}

 .left .learnmore img{
  width:150px;
  cursor: pointer;
}

.section2 .text-container{
  width:80%;
}

.right .learnmore img{
  width:150px;
  cursor: pointer;
}



/*section2 end*/


.section3 {
  display:flex;
  height:350px;
}

.left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

/*section3 css end*/


.testimonials {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content:center;
 background-color:#fffBF8;
 padding:50px 50px 50px 50px;
  
  
  
}

.testimonials h1{
  color:#ABA1A2;
 margin-bottom: 20px;
  font-size: 20px;
 
}

.clients{
  justify-content: space-between;
  display: flex;
}

.client-image{
  width:80px;
  height: 80px;
  
}

.client-image img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

.client .client-image{
  margin-top:10px;
  margin-bottom:40px;
}


.clients{
  display: flex;
}

.client{
  display: flex;
  flex-direction: column;
  flex:0.3;
  align-items: center;
}

.client p{
  
 color:#848391;
  line-height:1.8;
  font-family:Sans-Serif;
  
  text-align:center;
  margin-bottom: 16px;
}

.client h4{
  color:#ABA1A2;
  margin-top:10px;
}

.client h2 ,h4{
  text-align: center;
}


/*section4 css end*/


.examples{
  display: grid;
  grid-template-columns:repeat(4,1fr);
  
}

.section5 .item{
  height:;
 
}

.item img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

/*section5 css end*/


.footer{
  background-color:#90D4C5;
 
  display: flex;
  flex-direction:column;
  align-items: center;
  padding-top:50px;
  padding-bottom:50px;
}

.footer  .logo {
 
  color:#207465;
}

.footer-nav{
  margin-top:30px;
  color:#4f9485;
  font-weight: bold;
  
}
.footer-nav span:hover{
  color:#207065;
}


.footer-nav span{
  padding:8px;
  cursor: pointer;
  transition: all 0.2 ease-out;
}

.footer .social-media{
  margin-top:30px;
}

.social-media img{
  padding:4px;
}


@media screen and (max-width:575px){
  .section1 , .section2{
    flex-direction: column;
    height: auto;
  }
  
  .section1 .left , .section2 .right{
    padding-top:20px;
    padding-bottom:20px;
  }
  
  .section3{
    flex-direction: column;
    height: auto;
  }
  
  .clients{
    flex-direction: column;
    border:1px solid white;
  }
  

.client .client-image{
  margin-top:10px;
  margin-bottom:20px;
}
  .client p{
    margin-bottom: 8px;
  }
 
  .section4 .details{
    padding-bottom:40px;
  }
  
  .testimonials{
    padding-bottom:10px;
  }
  
  
  
  .examples{
    grid-template-columns:repeat(2,1fr);
  }
  
  
  .footer{
    padding:20px 0 20px 0;
  }
  
  .footer-nav{
    margin-top:10px;
  }
  
  .footer .social-media{
    margin-top:10px;
  }
  
  .social-media img{
    padding:6px;
  }
  
  
}